{
    "presets":[
        [
        "@babel/preset-env",
        {
            "targets": {
                "browsers": [
                    "last 2 chrome versions",
                    "last 2 firefox versions",
                    "last 2 safari versions",
                    "last 2 edge versions",
                    "last 2 IOS versions",
                    "last 1 android versions",
                    "last 1 chromeandroid versions",
                    "ie 11"
                ]
            }
        }
    ]
    ]
}